name: Node.js CI 


on: 
  push:
    branches: [main, dev]
  pull_request: 
    branches: [main, dev]  

jobs: 
  
  wdio-tests:

    runs-on: ubuntu-latest
    steps: 
    #fetching current ref
     - uses: actions/checkout@v2  
     #Node 
     - name: Use Node.js ${{ matrix.node-version }}
       uses: actions/setup-node@v2
       with: 
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
     # install npm 
     - run: npm ci
     - run: npm run build --if-present
     # intall pm2 
     - run: npm install -g pm2 
     - run: cp backend/database/products-template.db backend/database/products.db
     # start index.js with pm2 
     - run: SERVERNAME=dev pm2 start backend/index.js 
     #Chrome just incase.. 
     - run: wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
     - run: sudo apt install ./google-chrome-stable_current_amd64.deb  
     # installing Allure test report 
     - run: npm install @wdio/allure-reporter --save-dev
     - run: npm i -g allure-commandline 
     # Run wdio test
     - run: npm run wdio #HEADLESS_CHROME=yes WDIO_LOG_LEVEL=warn
     - run: allure generate allure-results --clean 
     - run: rm -r allure-results/history
     - run: cp -r allure-report/history allure-results/history 

     #REST-api

  api-tests:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
  
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
        # install newman globally so we can run
        # postman collections
      - run: npm install -g newman 
        # install pm2 so we can run our node.js
        # based backend without blocking the terminal
      - run: npm install -g pm2
        # Copy db-template to realdb
      - run: cp backend/database/products-template.db backend/database/products.db
        # start up our backend
      - run: SERVERNAME=dev pm2 start backend/index.js
        # run our api tests
      - run: npm run api 

  jest-tests: 

    runs-on: ubuntu-latest

    strategy: 
      matrix: 
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{matrix.node-version}}  
      uses: actions/setup-node@v2
      with: 
        node-version: ${{matrix.node-version}}
        cache: 'npm'
    - run: npm ci 
    - run: npm run build  --if-present         
    - run: npm install -g pm2
    - run: cp backend/database/products-template.db backend/database/products.db
    - run: SERVERNAME=dev pm2 start backend/index.js
    - run: npm run jest

#golive will be done separetely
  goliveDev: 
     # demand that the 3 tests jobs suceeed before running go love
     needs: [api-tests,wdio-tests,jest-tests]
     if: github.ref == 'refs/heads/dev'
     #Only run this job if the environment protection rules are fulfilled
     # (this case, reviewer need to approves and we need to be on dev branch)
     runs-on: ubuntu-latest
     steps:
    #call check out sever to checkout/pull our repo
     - run: curl http://dcs.groceryshop.r-cz.com/${{secrets.DEPLOYMENT_KEY}}
     - run: pm2 restart all

  goliveMain: 
     # demand that the 3 tests jobs suceeed before running go love
     needs: [api-tests,wdio-tests,jest-tests]
     if: github.ref == 'refs/heads/main'
     #Only run this job if the environment protection rules are fulfilled
     # (this case, reviewer need to approves and we need to be on main branch)
     runs-on: ubuntu-latest
     steps:
       #call check out sever to checkout/pull our repo
     - run: curl http://mcs.groceryshop.r-cz.com/${{secrets.DEPLOYMENT_KEY}}
     - run: pm2 restart all 


   
      
       
