name: CI with wdio tests

on: 
  push:
    branches: [Allerue-setup]

jobs: 
  build:
    runs-on: ubuntu-latest
    steps: 
     #fetching current ref
     - uses: actions/checkout@v2
     #Node 
     - name: Use Node.js ${{ matrix.node-version }}
       uses: actions/setup-node@v2
       with: 
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
     - run: npm ci
     - run: npm run bild --if-present
     - run: npm test  
     # Run wdio test
     - run: npm run wdio 
       name: Run wdio test
       
