name: Node.js CI 

on: 
  push:
    branches: [Allerue-setup] #[dev]
  #pull_request: 
   # branches: [dev]  

jobs: 

  wdio-tests:

    runs-on: ubuntu-latest
    steps: 
    #fetching current ref
     - uses: actions/checkout@v2  
     #Node 
     - name: Use Node.js ${{ matrix.node-version }}
       uses: actions/setup-node@v2
       with: 
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
     # install npm 
     - run: npm ci
     - run: npm run build --if-present
     # intall pm2 
     - run: npm install -g pm2 
     # start index.js with pm2 
     - run: pm2 start backend/index.js 
     #Chrome just incase.. 
     #- run: wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
     #- run: sudo apt install ./google-chrome-stable_current_amd64.deb  
     # installing Allure test report 
     - run: npm install @wdio/allure-reporter --save-dev
     - run: npm i -g allure-commandline 
     # Run wdio test
     - run: cat >.env <<EOF
            HEADLESS_CHROME=yes 
            WDIO_LOG_LEVEL=warn 
            EOF
     - run: npm run wdio
     - run: allure generate allure-results --clean 
     - run: cp -r allure-report/history allure-results/history 
     - run: allure open 
   
      
       
